.box_logo {
  position: absolute;
  height: 410px;
  width: 560px;
  top: 0;
  background-image: url("../../assets/img/fundo_logo.svg");
}

.box_images {
  padding-left: 160px;
  padding-top: 68px;
}

.icones {
  margin-left: 32px;
}

.logo {
  margin-right: 15px;
}
