.box_footer {
  position: fixed;
  width: 100%;
  bottom: 0;
  left: 0;
  flex-direction: column;
  display: flex;
  align-items: center;
}

.footer_texto {
  margin-top: -20px;
  color: #fff;
  font-size: 16px;
  line-height: 24px;
  background-color: #36d6ad;
  width: 100%;
  text-align: center;
  padding-top: 30px;
  padding-bottom: 30px;
}
